body, button, dl, h1, h2, h3, h4, h5, h6, li, ol, ul {
    font-family: 'Nanum Square,돋움,Dotum,Helvetica,Apple SD Gothic Neo,sans-serif'
  }
  
  body, button, dl, dd, dt, fieldset, form, h1, h2, h3, h4, h5, h6, img, input, legend, li, ol, p, select, table, td, textarea, th, ul {
    padding: 0;
    margin: 0;
  }
  
  li, ul, ol {
    list-style: none;
  }
  
  a {
    color: #1a1a1a;
    text-decoration: none;
  }
  
  .sp_ic {
    display: inline-block;
    background: url(../static/sp_ic.png) 0 0 no-repeat;
    overflow: hidden;
    line-height: 100em;
    vertical-align: top;
  }
  
  .sp_snb {
    display: inline-block;
    background: url(../static/sp_snb.png) 0 0 no-repeat;
    overflow: hidden;
    line-height: 100em;
    vertical-align: top;
  }
  
  .sp_co {
    display: inline-block;
    background: url(../static/sp_co.png) 0 0 no-repeat;
    overflow: hidden;
    line-height: 100em;
    vertical-align: top;
  }
  
  .basic_text .inpbx {
    position: relative;
    padding: 6px 6px 6px;
    border: 1px solid #dbdbdb;
  }
  
  .basic_text .inpbx input {
    display: block;
    width: 100%;
    border: 0;
    background: 0 0;
    font-size: 12px;
    font-weight: 돋움,Dotum,Helvetica,Apple SD Gothic Neo,sans-serif!important;
    color: #1a1a1a;
    outline: 0;
  }
  
  .basic_text .inpbx .btn .sp_ic {
    position: absolute;
    top: 50%;
    right: 6px;
    width: 16px;
    height: 14px;
    pointer-events: none;
    margin-top: -8px;
  }
  
  .basic_btn {
    padding-left: 12px;
    padding-right: 12px;
    height: 27px;
    font-size: 14px;
    font-family: 돋움,Dotum,Helvetica,Apple SD Gothic Neo,sans-serif!important;
    padding: 2px 11px 0;
    cursor: pointer;
    outline: 0;
  }
  
  .basic_btn.default {
    border: 1px solid #d3d3d3;
    background: #fff;
    color: #4a4a4a;
  }
  
  .basic_btn.default.gray {
    background: #343a40;
    color: #fff;
  }
  
  header {
    height: 48px;
    background: rgba(0, 0, 0, 0.975);
  }
  
  header::after {
    display: block;
    clear: both;
    content: '';
  }
  
  header .fllft {
    float: left;
  }
  
  header .flrgt {
    float: right;
    padding: 1rem 1.25rem 0 0
  }
  
  header .flrgt .menu {
    color: #fff;
  }
  
  .snbnext {
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    min-width: 1232px;
    overflow-y: auto;
  }
  
  .snbnext .container .containerin {
    background-color: rgb(245, 245, 245);
  }
  
  .bg_gray_0 {
    background: rgb(248, 249, 250);
  }
  
  .bg_gray_1 {
    background: rgb(241, 243, 245);
  }
  
  .bg_gray_2 {
    background: rgb(233, 236, 239);
  }
  
  .bg_gray_3 {
    background: rgb(222, 226, 230);
  }
  
  .bg_gray_4 {
    background: rgb(206, 212, 218);
  }
  
  .bg_gray_5 {
    background: rgb(173, 181, 189);
  }
  
  .bg_gray_6 {
    background: rgb(134, 142, 150);
  }
  
  .bg_gray_7 {
    background: rgb(73, 80, 87);
  }
  
  .bg_gray_8 {
    background: rgb(52, 58, 64);
  }
  
  .bg_gray_9 {
    background: rgb(33, 37, 41);
  }
  
  .bg_grape_0 {
    background: rgb(248, 240, 252);
  }
  
  .bg_grape_1 {
    background: rgb(243, 217, 250);
  }
  
  .bg_grape_2 {
    background: rgb(238, 190, 250);
  }
  
  .bg_grape_3 {
    background: rgb(229, 153, 247);
  }
  
  .bg_grape_4 {
    background: rgb(218, 119, 242);
  }
  
  .bg_grape_5 {
    background: rgb(204, 93, 232);
  }
  
  .bg_grape_6 {
    background: rgb(190, 75, 219);
  }
  
  .bg_grape_7 {
    background: rgb(174, 62, 201);
  }
  
  .bg_grape_8 {
    background: rgb(156, 54, 181);
  }
  
  .bg_grape_9 {
    background: rgb(134, 46, 156);
  }
  
  .bg_violet_0 {
    background: rgb(243, 240, 255);
  }
  
  .bg_violet_1 {
    background: rgb(229, 219, 255);
  }
  
  .bg_violet_2 {
    background: rgb(208, 191, 255);
  }
  
  .bg_violet_3 {
    background: rgb(177, 151, 252);
  }
  
  .bg_violet_4 {
    background: rgb(151, 117, 250);
  }
  
  .bg_violet_5 {
    background: rgb(132, 94, 247);
  }
  
  .bg_violet_6 {
    background: rgb(121, 80, 242);
  }
  
  .bg_violet_7 {
    background: rgb(112, 72, 232);
  }
  
  .bg_violet_8 {
    background: rgb(103, 65, 217);
  }
  
  .bg_violet_9 {
    background: rgb(95, 61, 196);
  }
  
  .bg_indigo_0 {
    background: rgb(237, 242, 255);
  }
  
  .bg_indigo_1 {
    background: rgb(219, 228, 255);
  }
  
  .bg_indigo_2 {
    background: rgb(186, 200, 255);
  }
  
  .bg_indigo_3 {
    background: rgb(145, 167, 255);
  }
  
  .bg_indigo_4 {
    background: rgb(116, 143, 252);
  }
  
  .bg_indigo_5 {
    background: rgb(92, 124, 250);
  }
  
  .bg_indigo_6 {
    background: rgb(76, 110, 245);
  }
  
  .bg_indigo_7 {
    background: rgb(66, 99, 235);
  }
  
  .bg_indigo_8 {
    background: rgb(59, 91, 219);
  }
  
  .bg_indigo_9 {
    background: rgb(54, 79, 199);
  }
  
  .bg_green_0 {
    background: rgb(235, 251, 238);
  }
  
  .bg_green_1 {
    background: rgb(211, 249, 216);
  }
  
  .bg_green_2 {
    background: rgb(178, 242, 187);
  }
  
  .bg_green_3 {
    background: rgb(140, 233, 154);
  }
  
  .bg_green_4 {
    background: rgb(105, 219, 124);
  }
  
  .bg_green_5 {
    background: rgb(81, 207, 102);
  }
  
  .bg_green_6 {
    background: rgb(64, 192, 87);
  }
  
  .bg_green_7 {
    background: rgb(55, 178, 77);
  }
  
  .bg_green_8 {
    background: rgb(47, 158, 68);
  }
  
  .bg_green_9 {
    background: rgb(43, 138, 62);
  }
  
  .bg_lime_0 {
    background: rgb(244, 252, 227);
  }
  
  .bg_lime_1 {
    background: rgb(233, 250, 200);
  }
  
  .bg_lime_2 {
    background: rgb(216, 245, 162);
  }
  
  .bg_lime_3 {
    background: rgb(192, 235, 117);
  }
  
  .bg_lime_4 {
    background: rgb(169, 227, 75);
  }
  
  .bg_lime_5 {
    background: rgb(148, 216, 45);
  }
  
  .bg_lime_6 {
    background: rgb(130, 201, 30);
  }
  
  .bg_lime_7 {
    background: rgb(116, 184, 22);
  }
  
  .bg_lime_8 {
    background: rgb(102, 168, 15);
  }
  
  .bg_lime_9 {
    background: rgb(92, 148, 13);
  }
  
  .bg_teal_0 {
    background: rgb(230, 252, 245);
  }
  
  .bg_teal_1 {
    background: rgb(195, 250, 232);
  }
  
  .bg_teal_2 {
    background: rgb(150, 242, 215);
  }
  
  .bg_teal_3 {
    background: rgb(99, 230, 190);
  }
  
  .bg_teal_4 {
    background: rgb(56, 217, 169);
   }
  
  .bg_teal_5 {
    background: rgb(32, 201, 151);
  }
  
  .bg_teal_6 {
    background: rgb(18, 184, 134);
  }
  
  .bg_teal_7 {
    background: rgb(12, 166, 120);
  }
  
  .bg_teal_8 {
    background: rgb(9, 146, 104);
  }
  
  .bg_teal_9 {
    background: rgb(8, 127, 91);
  }
  
  .bg_orange_0 {
    background: rgb(255, 244, 230);
  }
  
  .bg_orange_1 {
    background: rgb(255, 232, 204);
  }
  
  .bg_orange_2 {
    background: rgb(255, 216, 168);
  }
  
  .bg_orange_3 {
    background: rgb(255, 192, 120);
  }
  
  .bg_orange_4 {
    background: rgb(255, 169, 77);
  }
  
  .bg_orange_5 {
    background: rgb(255, 146, 43);
  }
  
  .bg_orange_6 {
    background: rgb(253, 126, 20);
  }
  
  .bg_orange_7 {
    background: rgb(247, 103, 7);
  }
  
  .bg_orange_8 {
    background: rgb(232, 89, 12);
  }
  
  .bg_orange_9 {
    background: rgb(217, 72, 15);
  }
  
  .bg_cyan_0 {
    background: rgb(227, 250, 252);
  }
  
  .bg_cyan_1 {
    background: rgb(197, 246, 250);
  }
  
  .bg_cyan_2 {
    background: rgb(153, 233, 242);
  }
  
  .bg_cyan_3 {
    background: rgb(102, 217, 232);
  }
  
  .bg_cyan_4 {
    background: rgb(59, 201, 219);
  }
  
  .bg_cyan_5 {
    background: rgb(34, 184, 207);
  }
  
  .bg_cyan_6 {
    background: rgb(21, 170, 191);
  }
  
  .bg_cyan_7 {
    background: rgb(16, 152, 173);
  }
  
  .bg_cyan_8 {
    background: rgb(12, 133, 153);
  }
  
  .bg_cyan_9 {
    background: rgb(11, 114, 133);
  }
  
  .bg_blue_0 {
    background: rgb(231, 245, 255);
  }
  
  .bg_blue_1 {
    background: rgb(208, 235, 255);
  }
  
  .bg_blue_2 {
    background: rgb(165, 216, 255);
  }
  
  .bg_blue_3 {
    background: rgb(116, 192, 252);
  }
  
  .bg_blue_4 {
    background: rgb(77, 171, 247);
  }
  
  .bg_blue_5 {
    background: rgb(51, 154, 240);
  }
  
  .bg_blue_6 {
    background: rgb(34, 139, 230);
  }
  
  .bg_blue_7 {
    background: rgb(28, 126, 214);
  }
  
  .bg_blue_8 {
    background: rgb(25, 113, 194);
  }
  
  .bg_blue_9 {
    background: rgb(24, 100, 171);
  }
  
  .bg_pink_0 {
    background: rgb(255, 240, 246);
  }
  
  .bg_pink_1 {
    background: rgb(255, 222, 235);
  }
  
  .bg_pink_2 {
    background: rgb(252, 194, 215);
  }
  
  .bg_pink_3 {
    background: rgb(250, 162, 193);
  }
  
  .bg_pink_4 {
    background: rgb(250, 162, 193);
  }
  
  .bg_pink_5 {
    background: rgb(240, 101, 149);
  }
  
  .bg_pink_6 {
    background: rgb(230, 73, 128);
  }
  
  .bg_pink_7 {
    background: rgb(214, 51, 108);
  }
  
  .bg_pink_8 {
    background: rgb(194, 37, 92);
  }
  
  .bg_pink_9 {
    background: rgb(166, 30, 77);
  }
  
  .bg_red_0 {
    background: rgb(255, 245, 245);
  }
  
  .bg_red_1 {
    background: rgb(255, 227, 227);
  }
  
  .bg_red_2 {
    background: rgb(255, 201, 201);
  }
  
  .bg_red_3 {
    background: rgb(255, 168, 168);
  }
  
  .bg_red_4 {
    background: rgb(255, 135, 135);
  }
  
  .bg_red_5 {
    background: rgb(255, 107, 107);
  }
  
  .bg_red_6 {
    background: rgb(250, 82, 82);
  }
  
  .bg_red_7 {
    background: rgb(240, 62, 62);
  }
  
  .bg_red_8 {
    background: rgb(224, 49, 49);
  }
  
  .bg_red_9 {
    background: rgb(201, 42, 42);
  }
  
  .bg_yellow_0 {
    background: rgb(255, 249, 219);
  }
  
  .bg_yellow_1 {
    background: rgb(255, 212, 59);
  }
  
  .bg_yellow_2 {
    background: rgb(255, 236, 153);
  }
  
  .bg_yellow_3 {
    background: rgb(255, 224, 102);
  }
  
  .bg_yellow_4 {
    background: rgb(255, 212, 59);
  }
  
  .bg_yellow_5 {
    background: rgb(252, 196, 25);
  }
  
  .bg_yellow_6 {
    background: rgb(250, 176, 5);
  }
  
  .bg_yellow_7 {
    background: rgb(245, 159, 0);
  }
  
  .bg_yellow_8 {
    background: rgb(240, 140 ,0);
  }
  
  .bg_yellow_9 {
    background: rgb(230, 119, 0);
  }
  